@font-face {
  font-family: "inter-Regular";
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "inter-Bold";
  src: url(../fonts/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "inter-Medium";
  src: url(../fonts/Inter/static/Inter-Medium.ttf);
}
@font-face {
  font-family: "inter-SemiBold";
  src: url(../fonts/Inter/static/Inter-SemiBold.ttf);
}

/* Scroll Bar */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #dadada8e;
  border-radius: 20px;
}

/*------------------------- 1. Core Css -------------------*/
/* ======== Colors ========= */
:root {
  --primary-color: #e09b56;
  --secondary-color: #1c1c1c;
  --bgColor: #0d0d0d;
  --secondaryBgColor: #d5cdc1;
  --body-color: #e4e4e4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  background: #FFF;
}
a {
  text-decoration: none;
}
input:focus,
button:focus {
  outline: 0;
  box-shadow: none;
}
button {
  cursor: pointer;
}
table th,
table td {
  border: none !important;
}

.page-container {
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  padding-left: 230px;
  -webkit-transition: padding-left 0.3s ease 0s;
  transition: padding-left 0.3s ease 0s;
}

.sbar_collapsed.page-container {
  padding-left: 0;
  transition: 0.3s ease;
}

.h-full {
  height: 100%;
}

.main-content {
  width: 100%;
}

.main-content-inner {
  padding: 45px 20px;
}

/*------------------------- END Core Css -------------------*/

/*-------------------- 2.1 Sidebar Menu -------------------*/

.sidebar-menu {
  position: fixed;
  left: 0;
  top: 64.45px;
  z-index: 99;
  height: 100vh;
  width: 230px;
  overflow: hidden;
  background: #fff;
  border-right: 1px solid var(--Border, #E9E9E9);
  /* transition: 0.3s ease; */
}

/* .sbar_collapsed .sidebar-menu {
  left: -280px;
} */

.main-menu {
  /* height: calc(100% - 180px); */
  overflow: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-inner {
  overflow-y: scroll;
  height: 100%;
}

.slimScrollBar {
  background: #fff !important;
  opacity: 0.1 !important;
}

.sidebar-header {
  padding: 16px 16px 16px 16px;
  background:#fff;
  /* margin-bottom: 34px; */
}


.logo a {
  display: inline-block;
  /* max-width: 187pxpx; */
}
.metismenu{
  height: 100vh;
  padding: 0 16px;
  list-style: none;
}
.metismenu li a {
  position: relative;
  display: block;
  /* text-transform: uppercase; */
  padding: 4px 8px;
  border-radius: 6px;
  /* font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  /* line-height: 20px; */
  color: #252C32;
  display: flex;
  align-items: center;
  font-family:"inter-Regular" ;
  /* margin-bottom: 10px; */
  /* font-family: "inter-Regular"; */
}

.metismenu li a span {
  margin-left: 10px;
  margin-top: 1px;
  line-height: 1;
}

/* .metismenu li.active > a,
.metismenu li:hover > a {
  color: #fff;
} */

/* .metismenu li li a {
  padding: 8px 20px;
} */
.side-bar-link{
  margin-bottom: 5px;
}
.metismenu li ul {
  padding-left: 37px;
}
.sidebar-submenu > li.active > a,
.metismenu > li:hover > a,
.metismenu > li.nav-active > a,.sidebar-submenu >li > a.nav-active,.sidebar-submenu >li > a:hover {
  color: #1A1B1F ;
  background:#FFDC5F;
  cursor: pointer;
}
/* .metismenu > li.active > a > img,.metismenu > li:hover > a > img{
      filter: invert(1);
} */


.metismenu > li.nav-active > a {
  background: #FFDC5F;
}

.metismenu > li.for-sub-menu li.nav-active > a{
  background: #FFDC5F ;
}
.sidebar-globe-img img {
  position: absolute;
  bottom: 0;
}
#side-sub-menu{
  margin-bottom: 5px;
}
#side-sub-menu-container{
  display: none;
}
.greenIcon{
  width: 24px;
  height: 24px;
}
.sidebar-submenue-arrow{
  transform: rotate(180deg);
  transition: 0.2s;
}
/*-------------------- END Sidebar Menu -------------------*/

/*-------------------- END Horizontal Menu -------------------*/

/*-------------------- 2.2 Header Area -------------------*/

.header-area {
  padding: 0px 30px;
  border-bottom: 1px solid var(--Border, #E9E9E9);
  background: #FFF;
  height: 65px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 110;
}

.nav-btn {
  cursor: pointer;
  margin-right: 10px;
}

.nav-btn span {
  display: block;
  width: 22px;
  height: 2px;
  background:#041C28;
  margin: 4px 0;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 0 4px rgba(99, 96, 96, 0.03);
}

.dashboard-search-field {
  /* flex: 0 0 340px;
  max-width: 100%; */
  max-width: 340px;
  width: 100%;
}

.dashboard-search-field .search {
  background-color: var(--secondary-color);
  border: none;
  width: 100%;
  padding: 9px 21px;
  border-radius: 50px;
  color: #fff;
}
.dashboard-search-field .search::placeholder {
  color: var(--secondaryBgColor);
  font-family: Helvetice Neue;
}

.sidebar-globe-img img {
  mix-blend-mode: lighten;
}
/*-------------------- END Header Area -------------------*/

.nav-btn {
  display: none;
}
.sbar_collapsed.page-container {
  padding-left: 230px;
}

/* =========== Responsive css for sidebar  ============*/

@media (width <= 1024px) {
  .sidebar-menu {
    display: none;
  }
  .page-container {
    padding-left: 0;
  }
  .page-container.sbar_collapsed {
    padding-left: 0;
  }
  .nav-btn {
    display: block;
  }
  .sbar_collapsed .sidebar-menu {
    display: block;
  }
  .sbar_collapsed .nav-btn {
    position: initial;
    background: none;
    padding: 0;
  }

  .sbar_collapsed .nav-btn {
    /* position: fixed; */
    z-index: 99;
    left: 0px;
    /* background:#E9E9E9; */
    padding: 3px;
    top: 0;
    margin: 0;
  }
  .sbar_collapsed .nav-btn span:nth-child(2) {
    opacity: 0;
  }

  .sbar_collapsed .nav-btn span:first-child {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
    background: #000;
  }

  .sbar_collapsed .nav-btn span:last-child {
    -webkit-transform: rotate(-45deg) translate(3px, -3px);
    transform: rotate(-45deg) translate(3px, -3px);
    background: #000;
  }

  .sbar_collapsed .nav-btn span {
    transform: none;
    opacity: 1;
  }
}

@media (width <= 768px) {
  .main-content-inner {
    padding: 24px 15px;
  }
  
}

#upd-company{
  display:flex!important;
  flex-direction: row;
}
.col1,.col2{
  width: 50%!important;
}